
.footer-contents {
  padding: 6em 3em 2em;
  font-weight: 300;
  color: #555555;
}

.footer-column {
  position: relative;
  border-top: 1px solid #ccc;
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -4.75em;
  height: 3.5em;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.footer-copyright, .social-icons {
  margin-top: 0.5em;
}

.social-icons {
  display: flex;
}

.social-icons_item {
  margin-left: 0.9em;
}

.social-icons_list {
  display: flex;
  list-style: none;
}

footer p {
  font-size: 1em;
}
